<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>Polls App | {% block title %}{% endblock title %}</title>    
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>